body {
  margin: 0;
  padding: 0 5em;
  background-color: #282c34;
  color: #fff;
  font-family: Helvetica;
  font-size: 1.5em;
}

header {
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

h1 {
  font-weight: bolder;
  margin: 110px 0 20px 0;
}

h2 {
  margin-top: 40px;
}

h3 {
  margin:40px 0;
}

nav {
  margin: 0;
  position: absolute;
  top: 40px;
  right: 140px;
}

nav ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  float: left;
}

nav a {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  margin: 12px 7px;
  padding: 14px;
  border: 0;
}

nav a:hover {
  background-color: #222;
  border-radius: 16px;
  text-decoration: none;
}

main {
  margin: 42px 0px;
  line-height: 1.6;
}

a {
  color: #26d5ff;
  text-decoration: none;
  padding-bottom: 2px;
}

a:hover {
  color: #48f7ff;
  text-decoration: underline;
}

.side a {
  border: 0;
}

footer {
  width: 100%;
  padding-top: 32px;
  text-align: center;
  font-size: .8em;
  color: #777;
}

footer a {
  text-decoration: none;
  color: #777;
}

article .meta {
  color: #a3a1a8;
}

.list-articles {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-articles > li {
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
}

.list-articles > li > div.side {
  flex: 0;
}

.list-articles > li > div.side img {
  width: 32px;
}

.list-articles > li > div.content {
  flex: 1;
  margin-left: 15px;
}

.list-articles .content > a {
  font-weight: bolder;
}

.list-articles > li > div.content > span.date {
  color: #a3a1a8;
  margin-right: 7px;
}

.list-articles > li > div.content > p {
  padding: 0;
  margin: 0;
}

.list-articles > li > div.content > div.bottom {
  padding: 4px 0;
  margin: 8px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

article h2 {
  font-size: 1.8em;
  margin: 20px 0;
}

article h3 {
  font-size: 1.6em;
  margin-top: 64px;
}

article h4 {
  font-size: 1.4em;
  margin-top: 32px;
}

article h5 {
  font-size: 1.2em;
  margin-top: 16px;
}

article pre {
  margin: 16px 8px;
  padding: 8px;
  font-family: Courier;
  font-size: 1.2em;
  line-height: 100%;
  width: 100%;
  overflow-x: auto;
  background-color: #000;
  border-radius: 16px;
}

article img {
  display: block;
  margin: 32px auto;
  max-width: 100%;
}

.hljs-built_in {
  text-decoration: none;
}

.hljs-doctag,
.hljs-formula,
.hljs-symbol,
.hljs-string {
  background: none;
  color: #666;
}

article pre code {
  font-size: 0.8em;
}

article code {
  font-family: Courier;
  font-size: 0.8em;
}

.aeration {
  margin: 72px 0 !important;
  text-align: center;
}

.tags-list {
  padding: 0;
  margin: 0;
}

article .tags-list {
  margin-bottom: 32px;
}

.tags-list > li {
  display: inline-block;
  margin: 2px;
  padding: 2px 8px;
  font-size: 0.8em;
}

.tags-list > li::before {
  content: "#";
  margin-right: 2px;
}

@media screen and (max-width: 720px) {
  header h1 {
    margin-left: 32px;
  }

  header h1::before,
  header h1::after {
    margin-left: -32px;
    display: block;
  }

  header .banner {
    display: none;
  }

  header blockquote {
    margin-top: 16px;
  }

  main blockquote {
    margin: 4px;
  }
}
