{%- if metadata.title -%}
{%- set dash = " - " -%}
{%- set page_title = metadata.title -%}
{%- elseif title -%}
{%- set dash = " - " -%}
{%- set page_title = title -%}
{%- else -%}
{%- set dash = "" -%}
{%- set page_title = "" -%}
{%- endif %}
{% if metadata.description -%}
{%- set page_description = metadata.description -%}
{%- elseif description -%}
{%- set page_description = description -%}
{%- else -%}
{%- set page_description = site.description -%}
{%- endif -%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {{ page_title }}{{ dash }}{{ site.title }}
    </title>
    <meta name="description" content="{{ page_description }}">
    <link type="text/css" rel="stylesheet" href="{{ root }}/css/hl.css">
    <link type="text/css" rel="stylesheet" href="{{ root }}/css/style.css">
    <script src="{{ root }}/js/hl.js"></script>
    <link
      rel="alternate" type="application/rss+xml" href="{{ root }}/feed.xml"
      title="{{ site.domain }}">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{{ root }}/index.html">Home</a></li>
          <li><a href="{{ root }}/blog.html">Blog</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {%- autoescape false -%}
      {{ body }}
      {% endautoescape -%}
    </main>
    <footer>
      <ul>
        <li>
          Powered by <a href="https://github.com/xhtmlboi/yocaml">YOCaml</a>
        </li>
        <li><a href="{{ root }}/feed.xml">RSS</a></li>
      </ul>
    </footer>
    <script>hljs.highlightAll();</script>
  </body>
</html>
